@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Irish Grover', cursive;
}
h1,h2,h3,h4,h5,h6,p,a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style-type:none;
}

.btn {
    background-color: #2F1498;
    font-family: 'Sans-serif';
    border-radius: 50px;
    text-transform: uppercase;
    padding: 12px 32px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border:none;
}

.btn:hover{
    background-color: #e8c204;
    
}
